# HW2 on Data Science course of Sharif University of Technology
## Created by: Mohammad Mahdi Hossein Beiky     SI: 400100995
---

### import python packages here:

In [4]:
import pandas as pd

In [3]:
achare = pd.read_csv('achare.csv')
achare.head()

,No. Previous Orders by Customer,Customer Join Date,Parent Service Category,Service Name,Order Status,Order City,Order Region,Workman Joine Date,Desired Date,Creation Date,Finish Date,Customer Rating,workman Rating Score,Comment,Device,Price,Discount,Quoted Task?
0,3,1396-06-09 11:51:32.505950+04:30,نظافت و پذیرایی,نظافت راه‌ پله,ثبت‌ شده,تهران,استاد معین,NaN,1400-06-26 10:00:01.000000+04:30,1400-06-24 03:06:56.093221+04:30,1400-06-26 16:00:01.000000+04:30,NaN,NaN,NaN,android,180000,0,AUTOMATIC_ALLOCATION
1,0,1400-06-24 02:54:34.549933+04:30,دکوراسیون و بازسازی,بنایی,Achar_Pending,تهران,وردآورد,NaN,1400-06-24 09:30:01.000000+04:30,1400-06-24 03:03:12.365980+04:30,1400-06-24 10:30:01.000000+04:30,NaN,NaN,NaN,android,0,0,MANUAL_ALLOCATION
2,0,1400-06-24 02:46:15.891303+04:30,نصب و تعمیر لوازم خانگی,نصب و تعمیر یخچال و فریزر,ثبت‌ شده,رشت,پل طالشان,NaN,1400-06-25 12:30:01.000000+04:30,1400-06-24 02:59:20.374623+04:30,1400-06-25 13:30:01.000000+04:30,NaN,NaN,NaN,android,0,0,MANUAL_ALLOCATION
3,0,1397-03-16 14:28:00.764511+04:30,تعمیرات خودرو,صافکاری و نقاشی,ثبت‌ شده,رشت,فلکه جهاد,NaN,1400-06-24 09:00:01.000000+04:30,1400-06-24 02:42:10.924776+04:30,1400-06-24 10:00:01.000000+04:30,NaN,NaN,NaN,android,0,0,MANUAL_ALLOCATION
4,0,1400-06-24 02:26:08.327191+04:30,دکوراسیون و بازسازی,بنایی,لغو شده,تهران,ستارخان,NaN,1400-06-24 09:30:01.000000+04:30,1400-06-24 02:37:03.244927+04:30,1400-06-24 10:30:01.000000+04:30,NaN,NaN,NaN,android,0,0,MANUAL_ALLOCATION